* {
    padding: 0;
    margin: 0;
    text-align: center;
}

body {
    padding: 0cm 1em;
    display: block;
}

header {
    width: 100%;
    color: black;
}

main {
    color: black;
}

footer {
    color: black;
}

#board {
    width: auto;
    height: auto;
    text-align: center;
}

#status {
    display: inline-flex;
    font-size: 0;
}

#status * {
    font-size: small;
    margin: 1%;
}

#touch-menu {
    display: none;
    position: fixed;
    z-index: 1000;
}

#touch-menu.show {
    display: flex;
}

#touch-menu .touch-group {
    height: 24px;
    width: 24px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height:24px;
}

#field {
    display: inline-block;
    height: 180px;
    width: 180px;
    font-size: 12px;
    transform: scale(1);
}

#field #cells {
    content: "";
    height: 20px;
    width: 20px;
    display: table-cell;
    outline: black solid 1px;
    background: gainsboro;
    text-align: center;
    font-weight: bold;
}

#field #cells.Open {
    background: aliceblue;
}

#field #cells[data-item="Bomb"]::before {
    content: "💣";
}

#field #cells[data-item="flag"]::before {
    content: "🚩";
}

#field #cells[data-item="0"]::before {
    content: "0";
    color: black;
}

#field #cells[data-item="1"]::before {
    content: "1";
    color: blue;
}

#field #cells[data-item="2"]::before {
    content: "2";
    color: green;
}

#field #cells[data-item="3"]::before {
    content: "3";
    color: red;
}

#field #cells[data-item="4"]::before {
    content: "4";
    color: navy;
}

#field #cells[data-item="5"]::before {
    content: "5";
    color: darkred;
}

#field #cells[data-item="6"]::before {
    content: "6";
    color: hotpink;
}

#field #cells[data-item="7"]::before {
    content: "7";
    color: gray;
}

#field #cells[data-item="8"]::before {
    content: "8";
    color: rebeccapurple;
}